
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Administrator</h1>
<h2>@Html.ActionLink("Users","ViewUsers", new { })</h2>
<h2>@Html.ActionLink("Roles", "ViewRoles", new { })</h2>


